[Unit]
Description=Force disable PWM for AMD card0 device

[Service]
Type=forking
ExecStart=/usr/bin/amdgpufan

[Install]
WantedBy=multi-user.target

